$blue: #64B5F6;
$yellow: #FFEB3B;
$pink : #D81B60;
$orange : #FF9800;
$teal : teal;
$green : #AED581;
$red : #EF5350;
$cyan : #0BC5EA;
$purple : #D6BCFA;
$lime : #E6EE9C;
$amber : #FFB300;
$indigo : #9FA8DA;