#Contact{
    width: 100%;
    height: 150vh;
    h1,.firstLine,.secondLine{
        margin-left: 30px;
    }

  }

  #contactBox{
    height: 120vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    background-color: #00203fff;
    border-top-left-radius: 40%;
    // border-bottom-right-radius: 40%;
    

    #social{
        width: 30%;
        height: 100%;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        // border: 1px solid red;
        // background-color: #fff;
        // border-top-right-radius: 80%;
        .socialBox{
            width: 90%;
            height: 12%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: auto;
            margin-top: 20px;
            border-radius: 70px;
            background-color: rgb(227, 244, 244);
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

            .socialIconLink{
                background-color: #fff;

                a{
                    position: relative;
                    width:60px;
                    height:60px;
                    display:block;
                    text-align:center;
                    margin:11px 15px;
                    border-radius: 50%;
                    padding: 6px;
                    box-sizing: border-box;
                    text-decoration:none;
                    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
                    background: linear-gradient(0deg, #ddd, #fff);
                    transition: .5s;
                    .icons {
                        width: 100%;
                        height:100%;
                        display:block;
                        background: linear-gradient(0deg, #fff, #ddd);
                        border-radius: 50%;
                        line-height: calc(60px - 12px);
                        transition: .5s;
                      }
                    
                      
                     
                }

                a:hover {
                    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
                    text-decoration:none;
                  }

            }


        }
    }

    #social2{
        display: none;
        width: 100%;
        height: 50vh;
        margin: auto;
        padding-top: 5vh;
        // border: 1px solid red;
        // width: 0;

        .heading{
            text-align: center;
            color: rgb(212, 253, 255);
            font-size: 20px;
            font-weight: normal;
        }
        .ul1{
            margin: auto;
            width: 80%;
            height: 1px;
            background-color: #fff;
            margin-bottom: 0.5rem;
        }
        
        ul{
            width: 80%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,auto);
            gap: 10px;
            margin: auto;
            margin-bottom: 5rem;

            li{
                list-style: none;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                background-color: #fff;
                width: 10vh;
                height: 10vh;
                border-radius: 50%;
                
                a{
                    .fab{
                        font-size: 30px;
                        margin: auto;
                        margin-top: 16px;
                        color: #111;
                        background-color: linear-gradient(0deg, #fff, #ddd);
                    }
                    
                }
            }

            li:nth-child(1) a:hover .fab {
                color: #dc3c4c;
              }
              
            li:nth-child(2) a:hover .fab {
                color: #00aced;
              }
              
            li:nth-child(4) a:hover .fab {
                color: #dd4b39;
              }
              
            li:nth-child(5) a:hover .fab {
                color: #137bd0;
              }
            
              li:nth-child(6) a:hover .fab {
                color: #0abc5d;
              }
           
           
            
        }
          
    }
    
}

.socialBox>div:nth-child(1){
    width: 30%;
    height: 100%;
    border-radius: 70px 70px 70px 70px;
    background-color: rgb(18, 17, 17);
    
}
.socialBox>div:nth-child(2){
    width: 70%;
    align-items: flex-end;
    border-radius: none;
    color: black;
    text-align: center;
    padding-bottom: 15px;
    

    a{
        color: #111;
        font-size: 15px;
        text-decoration: underline;
    }

  }

  #contactForm{
    width: 60%;
    height: 100%;
    background-color: #adefd1ff;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 80%;

    .form{
        width: 80%;
        height: 80%;
        // background-color: #fff;
        border-radius: 10px;
        margin: auto;
        margin-top: 20px;


        .inputs{
            width: 80%;
            height: 50px;
            border-radius: 80px;
            margin: auto;
            margin-top: 10px;
            // border: 1px solid teal;
            display: flex;
            // background-color: aqua;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            
            div{
                width: 15%;
                height: 100%;
                background-color: rgb(5, 60, 81);
                color: #fff;
                border-radius: 80px 80px 80px 80px;
            }
            
            input{
                width: 85%;
                height: 45px;
                border-radius: 0px 50px 50px 0px;
                border: none;
                background: none;
                
            }
            input::placeholder{
                color: #111;
            }
            input:focus{
                outline: none;
                background-color: none;
            }
        }

        textarea{
            width: 80%;
            height: 300px;
            margin: 5% 10% 0% 10%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            border: none;
            border-radius: 20px ;
            background-color: #fff;
            padding: 2rem;
            color: #111;

        }
        textarea::placeholder{
            color: #111;
        }
        textarea:focus{
            outline: none;
        }

        #submit{
            width: 80%;
            height: 50px;
            font-size: 30px;
            border: 2px solid #00203fff;
            background: rgb(138, 212, 181);
            color: rgb(3, 3, 3);
            border-radius: 10px;
            margin: 3% 10% 0% 10%;
        }

        #submit:hover{
            background-color: #00203fff;
            color: #fff;
        }

    }



  }

  @media only screen and (max-width:673px) {
    
    #Contact{
        height: 180vh;
        // border: 1px solid rgb(250, 231, 14);
        #contactBox{
            display: block;
            #social{
                 display: none;
                 width: 0;
                 height: 0;
                }
            #social2{
                display: block;
            }
                
                
            }
            #contactForm{
                width: 100%;
                .form{
                    width: 90%;
                    .inputs{
                        width: 100%;
                        input{
                            width: 80%;
                        }
                        input::placeholder{
                            color: #fff;
                        }
                    }
                    textarea{
                        width: 100%;
                        margin: auto;
                        margin-top: 1rem;
                    }
                    #submit{
                        width: 100%;
                        margin: auto;
                    }
                }
            }
        }

  }

  @media only screen and (max-width:458) {
     #contactForm {
        textarea{
            height: 200px;
        }
     }
  }