@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap'); 
#Home{
    height: 80vh;
    width: 100%;
    text-align: center;
    .typeAnimation{
        font-size: 40px;
        font-weight: bold;
        color: var(--skin-color);
        font-family: "ClickerScript",cursive;
    }
    #textAbout{
        width: 80%;
        margin: auto;
        padding: 3rem;
        p{
            font-size: 20px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .nametxt{
            font-size: 50px;
            font-weight: bold;
            color: var(--skin-color);
            font-family: "ClickerScript",cursive;
        }
       
    }

    #homeSocial{
        width: 100%;
        .socialMedia{
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            margin-bottom: 1rem;
            &>div{
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                padding: 0.5rem;
                border-radius: 50%;
                background-color: white;
                .mediaIcons{
                    font-size: 25px;
                    font-weight: bold;
                }
            }

            &>div:nth-child(1) {
                .mediaIcons{
                    color: #df484b;
                }
            }
            &>div:nth-child(2) {
                .mediaIcons{
                    color: #0A66C2;
                }
            }
            &>div:nth-child(3) {
                .mediaIcons{
                    color: #242425;
                }
            }
            &>div:nth-child(4) {
                .mediaIcons{
                    color: #1DA1F2;
                }
            }

            &>div:nth-child(5) {
                .mediaIcons{
                    color: #d6249f;
                    color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                }
            }
            &>div:nth-child(6) {
                .mediaIcons{
                    color: #3b5998;
                }
            }

            &>div:hover{
                box-shadow: var(--skin-color) 0px 2px 4px 0px, var(--skin-color) 0px 2px 16px 0px;
            }

        }

        &>div:nth-child(2)
        {
            display: flex;
            width: 50%;
            justify-content: space-around;
            align-items: center;
            margin: auto;
              
              a{
                display: block;
                width: 120px;
                height: 40px;
                border-radius: 10px;
                line-height: 40px;
                font-size: 18px;
                font-family: sans-serif;
                text-decoration: none;
                border: 2px solid #333;
                letter-spacing: 2px;
                text-align: center;
                position: relative;
                transition: all .35s;
              }
              
              a span{
                position: relative;
                z-index: 2;
              }
              
              a:after{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: var(--skin-color);
                transition: all .35s;
                border-radius: 10px;
              }
              
              a:hover{
                color: #fff;
              }
              
              a:hover:after{
                width: 100%;
              }


        }

    }


}

@media only screen and (max-width:1241px) {
    #Home{
        height: 100vh;
    }
}

@media only screen and (max-width:918px) {
    
    #Home{
        height: 105vh ;
    }
  
    
}

@media only screen and (max-width:740px) {

    #Home{
        height: 200vh;
        
        #textAbout{
            width: 100%;
            height: 100vh;
            // border: 1px solid red;
        }
       
    }
    
}

@media only screen and (max-width:550px) {
    #Home{
        height: 120vh;
        #textAbout{
            height: 80vh;
            P{
                font-size: 13px;
            }

            .typeAnimation{
               font-size: 20px;
            }

        }
        
    }
    
}
@media only screen and (max-width:400px) {
    #Home{
        height: 100vh;
        #textAbout{
            height: 60vh;
           
        }
        
        }
}