#workStats{
    width: 100%;
    height: auto;
    padding: 2.5rem;
    .workStatsTitle{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: underline;
        margin: 1rem;
    }

    #achievements{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,250px);
        justify-content: space-around;
        justify-items: center;
        margin: auto;
        .hackerRank{
            border-radius: 10px;
            padding: 1rem;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            h2{
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                text-decoration: underline;
                font-style: italic;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .badges{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(1,100px);
                justify-content: space-around;
                justify-items: center;
                

                img{
                    width: 100%;
                    height: 100%;
                    
                }

            }
            
        }
        .hackerRank>div:nth-child(3)
        {
            width: 60%;
            margin: auto;
            grid-template-rows: repeat(1,60px);
            
        }
        
    }

    #github{
        display: flex;
        width: 80%;
        justify-content: space-around;
        justify-items: center;
        margin: auto;
        margin-bottom: 2rem;
    }
    .githubActivity{
        width: 70%;
        height: auto;
        margin: auto;
        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: var(--skin-color);
        }
    }

}

@media only screen and (max-width:975px) {

   #workStats{
    #github{
        display: block;
        margin: auto;
        width: 60%;
        height: auto;
        margin-bottom: 2rem;
        img{
            width: 100%;
        }
    }
   }
    
}