
.heading{
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-style: normal;
}
.ul1{
  width:15%;
  height:10px;
  background: var(--skin-color);
}

.ul2{
  width:10%;
  height:7px;
  margin:5px 0px 5px 0px;
  background: var(--skin-color);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--skin-color) #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--skin-color);
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  .typeAnimation{
    color: var(--skin-color);
  }

 #themeMode{
  position: fixed;
  top: 140px;
  right: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--bg-black-50);
  background-color: var(--bg-black-100);
  color: var(--text-black-900);
  font-weight: bold;
 }